{% load staticfiles %}
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-5">
                <div class="single-footer-widget">
                    <h4>제휴 재래 시장</h4>
                    <ul>
                        <li><a href="#">동대문 시장</a></li>
                        <li><a href="#">서울 시장</a></li>
                        <li><a href="#">꽃놀이 시장</a></li>
                        <li><a href="#">서울 도깨비 야시장</a></li>
                        <li><a href="#">야놀자 시장</a></li>
                        <li><a href="#">해커톤 시장</a></li>
                        <li><a href="#">전통 시장</a></li>
                        <li><a href="#">전통 놀이 시장</a></li>
                        <li><a href="#">여의도 뚝섬 시장</a></li>
                        <li><a href="#">남산 타워 시장</a></li>
                        <li><a href="#">오나라 시장</a></li>
                        <li><a href="#">가니리 시장</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Contact Us</h4>
                    <p>서울시 논현동 역삼동 역삼역 142-4, 마루 180 B1</p>
                    <span>T-market_place@place.com</span>
                    <div class="social-icons">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
    
</footer>