{% load staticfiles %}
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-5">
                <div class="single-footer-widget">
                    <h4>Discover Destination</h4>
                    <ul>
                        <li><a href="#">Miami, USA</a></li>
                        <li><a href="#">California, USA</a></li>
                        <li><a href="#">London, UK</a></li>
                        <li><a href="#">Saintmartine, Bangladesh</a></li>
                        <li><a href="#">Mount Everast, India</a></li>
                        <li><a href="#">Sidney, Australia</a></li>
                        <li><a href="#">Miami, USA</a></li>
                        <li><a href="#">California, USA</a></li>
                        <li><a href="#">London, UK</a></li>
                        <li><a href="#">Saintmartine, Bangladesh</a></li>
                        <li><a href="#">Mount Everast, India</a></li>
                        <li><a href="#">Sidney, Australia</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-footer-widget">
                    <h4>Subscribe Newsletter</h4>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase"> <i class="far fa-paper-plane"></i>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                    type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                    <p>Subscribe our newsletter to get update news and offers</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="single-footer-widget footer_icon">
                    <h4>Contact Us</h4>
                    <p>4156, New garden, New York, USA
                            +880 362 352 783</p>
                    <span>contact@martine.com</span>
                    <div class="social-icons">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
    
</footer>