{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Martine</title>
    <link rel="icon" href="{% static 'main/img/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'main/css/index_style.css' %}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
    <!-- slider CSS -->
    <link rel="stylesheet" href="{% static 'main/css/maincontent.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- for naver map api-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">  
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=otxkvltnrz"></script>


    <script>
        $(document).ready(function(){
            $('#map_finder').hide(); //ajax종료시 로딩바를 숨겨준다.
            $('#input_data').hide(); //ajax종료시 로딩바를 숨겨준다.
            $('a[href="#"]').click(function(e) {
                e.preventDefault();
            });

            $('#market_search_input').focus(function(){
                $('#market_search_input_box_div').css('background-color','white');
                $('#market_search_input_box_div').css('border','1px solid #0475f4');
                $('#market_search_input_box_div').css('box-shadow','0 0 0 3px rgba(4,117,244,.2)');
                $('#market_search_input').css('background-color','white');
                $('#market_search_input').css('width','80%');
                $('#market_search_input').attr('placeholder','');
                $('.search_button').css('visibility','visible')

            })
            $('#market_search_input').blur(function(){
                $('#market_search_input_box_div').css('background-color','#f2f2f2');
                $('#market_search_input_box_div').css('border','0');
                $('#market_search_input_box_div').css('box-shadow','');
                $('#market_search_input').css('background-color','#f2f2f2');
                $('#market_search_input').css('width','100%');
                $('.search_button').css('visibility','hidden')
                //need if login when input value exist
                $('#market_search_input').attr('placeholder','검색하고자 하는 키워드를 입력해주세요.');
            })

            

        })

    </script>
    <script>
        function mapFinderStart(){
            $('#map_finder').toggle(); //ajax실행시 로딩바를 보여준다.
        };

        function mapFinderEnd(){
            $('#map_finder').toggle(); //ajax종료시 로딩바를 숨겨준다.
        };

        function dataUpdateStart(){
                    //화면의 높이와 너비를 구합니다.
            var maskHeight = $(document).height();
            var maskWidth  = window.document.body.clientWidth;
            
            //화면에 출력할 마스크를 설정해줍니다.
            var mask       ="<div id='mask' style='position:absolute; z-index:900; background-color:#000000; display:none; left:0; top:0;'></div>";
            var loadingImg ='';
            
            loadingImg +="<div id='input_data' class='center_for_gif' >";
            loadingImg +=" <img src='{% static 'main/img/input_data.gif' %}' style='position: relative; z-index:9001; display: block; margin: 0px auto;'/>";
            loadingImg +="</div>"; 

    // <div id="input_data" >
    //     <img src="{% static 'main/img/input_data.gif' %}" alt="">
    // </div>
        
            //화면에 레이어 추가
            $('body')
                .append(mask)
                .append(loadingImg)
                
            //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
            $('#mask').css({
                    'width' : maskWidth
                    ,'height': maskHeight
                    ,'opacity' :'0.5'
            });
        
            //마스크 표시
            $('#mask').show();  

            $('#input_data').show(); //ajax실행시 로딩바를 보여준다.
        };

        function dataUpdateEnd(){
            $('#mask, #input_data').hide(); //ajax종료시 로딩바를 숨겨준다.
            $('#mask, #input_data').remove(); 
        };

        function search_enter(){
            console.log("SEARCH ENTER!")
        };

        // market over&out event
        function search_list_each_mouse_over(e){
            e.style.fontWeight = "bold";
        }
        function search_list_each_mouse_out(e){
            e.style.fontWeight = "normal";
        }

        // marketClickEvent
        function marketClickEvent(market_id){
            $.ajax({
                type: "POST",
                url: "{% url 'market_click_ajax_event' %}",
                data: {'market_id': market_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
                dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
                beforeSend: function () {
                    mapFinderStart(); //로딩바 생성
                },
                complete: function () {
                    mapFinderEnd(); //로딩바 제거
                },
                success: function(res){ 
                    var latlng = new naver.maps.LatLng(parseFloat(res.latitude), parseFloat(res.longitude));
                    first_marker.setPosition(latlng);
                    $('#result_market_name').text(res.name);
                    $('#result_img').attr('src',res.photo);
                },
                error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
                    alert("예기치 못한 5류가 발생하였습니다 :'( ")
                    window.location.replace("")
                },
            })
        }

        function auto_data_update(){
            console.log("@@");
            $.ajax({
                type: "POST",
                url: "{% url 'auto_market_data_saving' %}",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                beforeSend: function () {
                    dataUpdateStart(); //로딩바 생성
                },
                complete: function () {
                    dataUpdateEnd(); //로딩바 제거
                },
                success: function(res){ 
                    alert(res.message)
                    window.location.replace("")
                },
                error: function(request){ // 통신 실패시 - 로그인 페이지 리다이렉트
                    alert("예기치 못한 5류가 발생하였습니다 :'( ")
                    window.location.replace("")
                },

            })
        }
    </script>

    <style>
    /* 슬라이드 배경 */
    .event_part {
    background-image: url(static/main/img/loginimg.jpg);
    }


    /* 결과 화면 */
    .center_for_gif {
        position:absolute;
        top:50%; left:50%; width:100px; height:100px;
        overflow:hidden;
        opacity: 1;
        z-index: 999;
    }

    .result_img_div{
        height: 100%;
    }

    .result_market_name{
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    .result_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 75%;
        width: auto;
    }

    .search_button{
        background: url("{% static 'main/img/loupe.png' %}") no-repeat;
        background-size: 21px;
        border: none;
        width: 21px;
        height: 21px;
        cursor: pointer;
        float: right;
        margin-top:3px;
        padding-right:25px;
        visibility:hidden;
    }
    
    /* 검색 css */
    .search_list_each_div{
        cursor: pointer;
        display: table;
    }

    .search_list_each_icon{
        display: table-cell;
        width: 22px;
        height: 22px;
        background-image: url("{% static 'main/img/placeholder.png' %}");
        background-repeat: no-repeat;
        background-size: 22px;
        vertical-align: middle;
    }

    .search_list_each_text{
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        line-height: 11px;
    }

    .search_list_each_address{
        font-size: 13px;
        color: gray;
    }
    

    </style>
</head>

<body>
    <!-- for gif -->
    <div id="map_finder" class="center_for_gif">
        <img src="{% static 'main/img/map_finder.gif' %}" alt="">
    </div>
   <!--::header part start::-->
   <header class="main_menu">
        <div class="sub_menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="sub_menu_right_content">
                            <span>Top destinations</span>
                            <a href="#">Asia</a>
                            <a href="#">Europe</a>
                            <a href="#">America</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="sub_menu_social_icon">
                            <a href="#"><i class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="flaticon-skype"></i></a>
                            <a href="#"><i class="flaticon-instagram"></i></a>
                            <span><i class="flaticon-phone-call"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_menu_iner">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                            <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse main-menu-item justify-content-center"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="packages.html">packages</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Blog
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            
                                            {% for festival in festivals %}
                                            <a class="dropdown-item" href="{% url 'festival_detail' festival.id %}">festival</a>
                                            {% endfor %}
                                            <a class="dropdown-item" href="{% url 'festival_new' %}">올리기</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            pages
                                        </a>
                                        
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                            <a class="dropdown-item" href="top_place.html">top place</a>
                                            {% for market in markets %}
                                            <a class="dropdown-item" href="{% url 'market_detail' market.id %}">market</a>
                                            {% endfor %}
                                            <a class="dropdown-item" href="{% url 'market_new' %}">올리기</a>
                                        </div>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="auth_user">
                                {{user.username}}
                            </div>
                            {% if user.is_authenticated %}
                            <a href='javascript:auto_data_update();'>
                                <div class="auth_user btn_2 btn-primary">
                                    데이터 자동 업데이트
                                </div>
                            </a>
                            {% else %}
                            {% endif %}
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="btn_1 d-none d-lg-block">로그아웃</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn_1 d-none d-lg-block">관리자 로그인</a>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- banner part start-->
    <div class="scroll_container">
    <section class="scroll_snap banner_part new_banner_part">
        <div class="container new_container">
            <div class="row align-items-center justify-content-center">
                <!-- naver map div -->
                <div class="col-lg-8 naver_map_div">
                    <!-- 
                    <div class="banner_text text-center">
                        <div class="banner_text_iner">
                            <h1> Saintmartine</h1>
                            <p>Let’s start your journey with us, your dream will come true</p>
                            <a href="#" class="btn_1">Discover Now</a>
                        </div>
                    </div>
                    -->
                    <div id="map" style="width:100%;height:500px;"></div>

                    <script>
                    var map = {
                        center: new naver.maps.LatLng(37.5666103, 126.9783882),
                        zoom: 7
                    };

                    var market_map = new naver.maps.Map('map', map);

                    // marker
                    var first_marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(37.5666103, 126.9783882),
                        map: market_map
                    });

                    naver.maps.Event.addListener(first_marker, "click", function(e) {
                        console.log("marker click!")
                    });

                    </script>
                </div>
                <!-- search and reulst div -->
                <div class="col-lg-4 search_and_result_div">
                    <div class="result_div">
                        <div class="result_img_div">
                            <p id="result_market_name" class="result_market_name">시장 이름</p>
                            <a id="result_market_a" href="#"><img id="result_img" src="" alt="" class="result_img"></a>

                        </div>
                    </div>
                    <div class="search_div">
                        <div class="search_input_box_div" id="market_search_input_box_div">
                            <input type="text" class="search_input" id="market_search_input" name="market_search_input" placeholder="검색하고자 하는 키워드를 입력해주세요." onkeyup="search_enter();"> 
                            <input type="button" class="search_button">
                        </div>

                        <div class="search_list_div">
                            <ul>
                            {% for market in markets %}
                                <li onmouseover="search_list_each_mouse_over(this)" onmouseout="search_list_each_mouse_out(this)" style="margin-bottom: 10px;">
                                    <div id="market_{{market.id}}" name="market_{{market.id}}" class="search_list_each_div" onclick="marketClickEvent({{ market.id }})">
                                        <span class="search_list_each_icon"></span>
                                        <div>
                                            <span class="search_list_each_text">&nbsp&nbsp{{ market.name }} ( {{market.open_day}} )</span>
                                            &nbsp&nbsp&nbsp<span class="search_list_each_address">market.address</span>
                                        </div>
                                    </div>
                                    
                                </li>
                            {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!--top place start-->
    <section class="scroll_snap event_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="event_slider owl-carousel" >
                        <!-- 슬라이더 컨텐츠 시작 -->
                        {% for festival in festivals %}
                        <div class="single_event_slider">
                            <div class="row justify-content-end">
                                <div class="col-lg-5 col-md-5">
                                    <div class="event_slider_content evt-desc-wrapper">
                                        <img src="{{festival.photo.url}}">
                                        <p class='evt-name'><{{festival.name}}></p>
                                        <p class='evt-location'>위치:{{festival.address}}</p>
                                        <p class='evt-desc'>
                                            {{festival.summary}}...
                                        </p>
                                        <p class='evt-date'>날짜: <span>{{festival.date}}</span> </p>
                                        <p class='evt-pay'>금액: <span>{{festival.pay}}</span> </p>
                                        <p class='evt-host'>주최자: <span> {{festival.host}}</span> </p>
                                        <!-- <div class="rating">
                                            <span>Rating:</span>
                                            <div class="place_review">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </div>
                                        </div> -->
                                        <a href="{% url 'festival_detail' festival.id %}" class="btn_1">축제 자세히</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- 슬라이더 종료 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--top place end-->

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-5">
                    <div class="single-footer-widget">
                        <h4>Discover Destination</h4>
                        <ul>
                            <li><a href="#">Miami, USA</a></li>
                            <li><a href="#">California, USA</a></li>
                            <li><a href="#">London, UK</a></li>
                            <li><a href="#">Saintmartine, Bangladesh</a></li>
                            <li><a href="#">Mount Everast, India</a></li>
                            <li><a href="#">Sidney, Australia</a></li>
                            <li><a href="#">Miami, USA</a></li>
                            <li><a href="#">California, USA</a></li>
                            <li><a href="#">London, UK</a></li>
                            <li><a href="#">Saintmartine, Bangladesh</a></li>
                            <li><a href="#">Mount Everast, India</a></li>
                            <li><a href="#">Sidney, Australia</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="single-footer-widget">
                        <h4>Subscribe Newsletter</h4>
                        <div class="form-wrap" id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                    required="" type="email">
                                <button class="click-btn btn btn-default text-uppercase"> <i class="far fa-paper-plane"></i>
                                </button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                        <p>Subscribe our newsletter to get update news and offers</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-footer-widget footer_icon">
                        <h4>Contact Us</h4>
                        <p>4156, New garden, New York, USA
                                +880 362 352 783</p>
                        <span>contact@martine.com</span>
                        <div class="social-icons">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
</div>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/custom.js' %}"></script>
</body>

</html>