{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Martine</title>
    <link rel="icon" href="{% static 'service/img/favicon.png' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}" />
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'main/css/index_style.css' %}" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- slider CSS -->
    <link rel="stylesheet" href="{% static 'main/css/maincontent.css' %}">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .search_button {
            background: url("{% static 'main/img/loupe.png' %}") no-repeat;
            background-size: 21px;
            border: none;
            width: 21px;
            height: 21px;
            cursor: pointer;
            float: right;
            margin-top: 3px;
            padding-right: 25px;
            visibility: hidden;
        }
    </style>
</head>

<body>
    <!--::header part start::-->
    {% include './nav-bar.html' %}
    <!-- header part end -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="container">

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">축제이름</label>
                                <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="festival">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">시장이름</label>
                                <select name="market" class="form-control form-control-sm">
                                    {% for market in markets%}
                                    <option value="{{market.id}}">{{market.name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">주소</label>
                                <input name="address" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="address">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">열리는날</label>
                                <input name="date" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="date">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">개최자</label>
                                <input name="host" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="host">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">입장료</label>
                                <input name="pay" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="pay">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">url</label>
                                <input name="url" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="url">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">소개</label>
                                <textarea name="content" class="form-control" rows="5" id="comment"
                                    placeholder="contents"></textarea>
                            </div>
                            <input name='photo' type="file" id="customFile">
                            <span style="float:right">
                                <input class="btn btn-dark" type="submit" value="submit" />
                            </span>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- footer part start-->
    {% include './footer.html' %}
</body>

</html>