{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Martine</title>
    <link rel="icon" href="{% static 'service/img/favicon.png' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}" />
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'main/css/index_style.css' %}" />
    <!-- slider CSS -->
    <link rel="stylesheet" href="{% static 'main/css/maincontent.css' %}">

    <style>
        .search_button {
            background: url("{% static 'main/img/loupe.png' %}") no-repeat;
            background-size: 21px;
            border: none;
            width: 21px;
            height: 21px;
            cursor: pointer;
            float: right;
            margin-top: 3px;
            padding-right: 25px;
            visibility: hidden;
        }
    </style>
</head>

<body>
    <!--::header part start::-->
    {% include './nav-bar.html' %}
    <!--::header part end::-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="container">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">시장이름</label>
                                <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="market">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">주소</label>
                                <input name="address" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="address">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">위도</label>
                                <input name="latitude" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="latitude">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">경도</label>
                                <input name="longitude" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="longitude">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">url</label>
                                <input name="url" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="url">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">열리는날</label>
                                <input name="open_day" type="text" class="form-control" id="exampleInputEmail1"
                                    placeholder="open day">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">소개</label>
                                <textarea name="content" class="form-control" rows="5" id="comment"
                                    placeholder="contents"></textarea>
                            </div>
                            <input name='photo' type="file" id="customFile">
                            <span style="float:right">
                                <input class="btn btn-dark" type="submit" value="submit" />
                            </span>
                            <br>
                            <br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- footer part start-->
    {% include './footer.html' %}
</body>

</html>